@import "~bulma/sass/utilities/_all"

$font: "Noto Sans JP" "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif

$main-color: #A8DC39
$text-gray: #CCCCCC

$tag-orange: #FD7E14

$header-nav-height: 40px

$text-large: 1.125rem
$text-small: 0.875rem
$text-mini: 0.75rem