@import "~bulma/sass/utilities/_all"

$font: "Noto Sans JP" "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "游ゴシック体", "Yu Gothic", YuGothic, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif

$main-color: #A8DC39
$loading-color: #F4F4F4
$text-gray: #CCCCCC

$tag-orange: #FD7E14

$header-nav-height: 40px

$text-large: 1.125rem
$text-small: 0.875rem
$text-mini: 0.75rem

$bg-color: #f8f9fe

// for VModal
$modal-backdrop-color: rgba(10, 10, 10, .86) !default
$modal-bg-color: $bg-color !default
$modal-padding: 1em !default
$modal-radius: 16px !default
$menu-label-font-size: 1rem
$menu-list-link-padding: .75em
$table-row-active-background-color: #090037