@import "~bulma"
@import "~buefy/src/scss/buefy"
@import 'constants'
@import "transition"

html
  font-size: 16px
  height: 100%

body
  font-size: 1rem
  line-height: 1.25
  font-family: $font
  height: 100%
  margin: 0
  padding: 0

.bold
  font-weight: bold
.gray
  color: $text-gray

nav ul
  list-style: none

li
  list-style: none

a
  text-decoration: none
  color: black

p
  margin: 0px

.is-size1
  font-size: $size-1
.is-size2
  font-size: $size-2
.is-size3
  font-size: $size-3
.is-size4
  font-size: $size-4
.is-size5
  font-size: $size-5

.flexbox
  display: flex
  &.has-space-around
    justify-content: space-around
    // > :not(:last-child)
    //   margin-right: 0
  &.has-space-between
    justify-content: space-between
    // > :not(:last-child)
    //   margin-right: 0
  &.is-middle
    align-items: center

.flexcolumn
  display: flex
  flex-direction: column
  &.is-center
    justify-content: center
  &.has-space-around
  justify-content: space-around
  // > :not(:last-child)
  //   margin-right: 0
  &.has-space-between
    justify-content: space-between
    // > :not(:last-child)
    //   margin-right: 0

.mt-4
  margin-top: 4px
.mt-8
  margin-top: 8px

.bg-gray
  background-color: $bg-gray
.bg-white
  background-color: white
.bg-loading
  background-color: $loading-color

.non-scrollbar
  /* IE, Edge 対応 */
  -ms-overflow-style: none
  /* Firefox 対応 */
  scrollbar-width: none
  &::-webkit-scrollbar
    /* Chrome, Safari 対応 */
    display:none
    -webkit-appearance: none

.x-scroll
  overflow-x: auto
  white-space: nowrap
  -webkit-overflow-scrolling: touch
  > div
    display: inline-block

.square-container
  position: relative
  &::before
    display: block
    content: ""
    padding-top: 100%
  > div
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0    